In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv('/Users/pj/Documents/GitHub/Data-Notebooks/data/3Year_Projections.csv')
data

,Budget Items,Year 1,Year 2,Year 3
0,Total Revenue,"$27,543,750.00","$28,775,875.00","$29,985,225.00"
1,Initial Membership Chip/ Tournament 1 Sale,"$4,312,500.00",0,0
2,Equal Value Tournaments,"$21,562,500.00","$25,875,000.00","$25,875,000.00"
3,Merchandise,"$15,000.00","$20,000.00","$27,000.00"
4,NFT Wearables,"$225,000.00","$500,000.00","$750,000.00"
5,Units Sold,1500,2500,3000
6,Average Cost of Units,$150.00,$200.00,$250.00
7,NFT Secondary Sales,"$1,428,750.00","$2,380,875.00","$3,333,225.00"
8,NaN,NaN,NaN,NaN
9,Cost of Sales,"$18,137,000.00","$18,140,000.00","$18,149,000.00"
10,Tournament Payouts,"$18,135,000.00","$18,135,000.00","$18,135,000.00"
11,Contract Deployments,"$2,000.00","$5,000.00","$14,000.00"
12,NaN,NaN,NaN,NaN
13,Gross Revenue,"$9,406,750.00","$10,635,875.00","$11,836,225.00"
14,Gross Margin,34%,37%,39%
15,Operating Expenses,"$2,679,050.00","$3,565,900.00","$4,573,290.00"
16,Poker Software,"$12,000.00","$12,000.00","$12,000.00"
17,Website Development,"$5,000.00","$2,000.00","$2,000.00"
18,Attorney and Legal Fees,"$551,800.00","$556,650.00","$569,040.00"
19,Incorporation,"$7,500.00",0,0
20,Gaming License,"$519,300.00","$521,650.00","$524,040.00"
21,Copyrights/ Patents,"$25,000.00","$35,000.00","$45,000.00"
22,DAO Funding,"$900,000.00","$1,500,000.00","$2,100,000.00"
23,Marketing Budget,"$130,000.00","$155,000.00","$240,000.00"
24,Publications,"$30,000.00","$20,000.00","$20,000.00"
25,Influencer Deals,"$50,000.00","$75,000.00","$150,000.00"
26,Paid Social Ads,"$50,000.00","$60,000.00","$70,000.00"
27,Salary & Wages,"$900,250.00","$1,070,250.00","$1,380,250.00"
28,Founders,"$750,000.00","$750,000.00","$750,000.00"
29,Developers,"$50,000.00","$200,000.00","$500,000.00"
30,Community Management Team,"$100,250.00","$120,250.00","$130,250.00"
31,Discord Manager / Team,"$40,000.00","$60,000.00","$70,000.00"
32,Marketing Coordinator,"$60,250.00","$60,250.00","$60,250.00"
33,Technology/ Hardware,"$20,000.00","$20,000.00","$20,000.00"
34,The Raining Season Partnership,"$160,000.00","$250,000.00","$250,000.00"
35,Project Devlopment Cost,"$10,000.00",0,0
36,Foundation Donation,"$150,000.00","$250,000.00","$250,000.00"
37,Bad Debt,0,0,0
38,Amortization of Other Current Assets,0,0,0
39,EBITDA,"$6,727,700.00","$7,069,975.00","$7,262,935.00"
40,Additional Expenses,0,0,0
41,Total Depreciation,0,0,0
42,Gain or loss form sales of Assets,0,0,0
43,EBIT,"$6,572,450.00","$6,889,725.00","$7,062,685.00"
44,Interest Expenses,0,0,0
45,EBT,"$6,572,450.00","$6,889,725.00","$7,062,685.00"
46,Income Tax Expenses,0,0,0
47,Summary,NaN,NaN,NaN
48,Total Expenses,"$2,679,050.00","$3,565,900.00","$4,573,290.00"
49,Net Income,"$6,572,450.00","$6,889,725.00","$7,062,685.00"
50,Retained Earning Opening,0,"$4,982,262.50","$10,371,987.50"
51,Founder's Distribution,"$1,500,000.00","$1,500,000.00","$1,500,000.00"
52,Prenegotiated Payouts,"$90,187.50",NaN,NaN
53,Optional Investor Buyout(not reflected),"$2,500,000.00",NaN,NaN
54,Retained Earning Closing,"$4,982,262.50","$10,371,987.50","$15,934,672.50"

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Budget Items  53 non-null     object
 1   Year 1        52 non-null     object
 2   Year 2        50 non-null     object
 3   Year 3        50 non-null     object
dtypes: object(4)
memory usage: 1.8+ KB

In [34]:
data.isna()

    Budget Items  Year 1  Year 2  Year 3
0          False   False   False   False
1          False   False   False   False
2          False   False   False   False
3          False   False   False   False
4          False   False   False   False
5          False   False   False   False
6          False   False   False   False
7          False   False   False   False
8           True    True    True    True
9          False   False   False   False
10         False   False   False   False
11         False   False   False   False
12          True    True    True    True
13         False   False   False   False
14         False   False   False   False
15         False   False   False   False
16         False   False   False   False
17         False   False   False   False
18         False   False   False   False
19         False   False   False   False
20         False   False   False   False
21         False   False   False   False
22         False   False   False   False
23         False   False   False   False
24         False   False   False   False
25         False   False   False   False
26         False   False   False   False
27         False   False   False   False
28         False   False   False   False
29         False   False   False   False
30         False   False   False   False
31         False   False   False   False
32         False   False   False   False
33         False   False   False   False
34         False   False   False   False
35         False   False   False   False
36         False   False   False   False
37         False   False   False   False
38         False   False   False   False
39         False   False   False   False
40         False   False   False   False
41         False   False   False   False
42         False   False   False   False
43         False   False   False   False
44         False   False   False   False
45         False   False   False   False
46         False   False   False   False
47         False    True    True    True
48         False   False   False   False
49         False   False   False   False
50         False   False   False   False
51         False   False   False   False
52         False   False    True    True
53         False   False    True    True
54         False   False   False   False